@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --txt-color: #ee7a05;
  --bg-color: #b3dd9e;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--txt-color);
}

.bg-light {
  background: #e0e0e0;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #e0e0e0;
}

.bg-primary {
  background: var(--bg-color);
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  color: #ffffffde;
  background: var(--bg-color);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #95d176;
}

.btn-dark {
  background: var(--txt-color);
  color: #ffffffde;
}

.btn-dark:hover {
  background: #f87639;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  position: sticky;
  top: 0;
  background: var(--bg-color);
  /* #b3dd9e */
  /* #74cbf3; */
  color: #ffffffde;
  z-index: 1;
  padding: 0.7rem;
}

#navbar .logo {
  flex: 1;
}

#navbar .logo a {
  font-size: 24px;
}

#navbar .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#navbar .menu li {
  padding: 2px 2px;
  align-items: center;
}

#navbar .menu li a {
  display: block;
  color: #ffffffde;
  padding: 0.5rem;
  margin: 0 0.2rem;
}

#navbar .menu li:not(.logo) a {
  font-size: 18px;
}

#navbar .menu li:not(.logo) a:hover {
  background: var(--txt-color);
  border-radius: 5px;
}

#navbar .toggle {
  display: none;
}

#navbar .item {
  width: auto;
  order: 1;
  display: inline;
}

#navbar .item a {
  padding: 7px 15px;
}

#navbar .item.active,
#navbar .item.out-ham.active {
  display: block;
}

#navbar .bars {
  background: var(--txt-color);
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}
#navbar .bars::before,
#navbar .bars::after {
  background: var(--txt-color);
  content: '';
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

#navbar .bars::before {
  top: 6px;
}

#navbar .bars::after {
  top: -6px;
}

/* Showcase */
#showcase {
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  position: relative;
  height: 100vh;
  color: #ffffffde;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section: What We Do */
#what .items {
  display: flex;
  /* padding: 0.75rem; */
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: var(--bg-color);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#what .items .item i:hover {
  padding: 1.5rem;
}

/* Section: Who We Are */
#who {
  display: flex;
}

#who div {
  flex: 1;
  flex-basis: 50%;
}

#who .list span:hover {
  color: var(--bg-color);
}

#who .who-img {
  background: url('../img/people.jpg') no-repeat center center/cover;
  max-width: 100%;
}

/* Section: Latest Video */
#video .videos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

iframe {
  width: 600px;
  height: 340px;
  max-width: 90%;
  max-height: 100%;
  margin: 0 1.5rem;
}

/* Section: Sponsors */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Section: Contact */
input:focus,
textarea:focus {
  outline-color: var(--bg-color);
}

#contact {
  display: flex;
}

#contact .contact-form,
#contact .map {
  flex: 1;
  flex-basis: 50%;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

#contact .contact-form #error {
  color: var(--error-color);
}

.success-submission {
  color: var(--success-color);
}
.error-submission {
  color: var(--error-color);
}

/* Footer */
#main-footer {
  display: flex;
  justify-content: center;
}

#main-footer .social {
  display: flex;
}

#main-footer a {
  margin: 0.5rem;
}

#main-footer .copyright {
  margin-right: 2rem;
  line-height: 2;
}

#main-footer .facebook {
  color: #0000ff;
}

#main-footer .youtube {
  color: #ff0000;
}

#main-footer .instagram {
  color: #da70d6;
}

/* Navbar and Hamburger Menu for iPad */
@media screen and (min-width: 600px) and (max-width: 800px) {
  #navbar .item.out-ham {
    width: auto;
    order: 1;
    display: block;
  }
}

/* ReCaptcha Iframe FIX */

.g-recaptcha > div {
  overflow: hidden;
}
